#Â Data Exploration and Visualisation

In [32]:
import pandas as pd

In [109]:
# Load the test dataset into a pandas data frame
# Load the descriptions
desctable = pd.read_csv('speech_data/text/sum_cv/desc.tok.txt', header=None, skipinitialspace=True, names=["a"])
desctable.head()
filename = 'speech_data/text/sum_cv/tran.tok.txt'
with open(filename, 'r') as f:
    data = f.read().replace('\n','%%%')
trantable = pd.read_csv(pd.compat.StringIO(data), sep="%%%", header=None)
trantable = trantable.T
trantable.drop(trantable.tail(1).index,inplace=True)
trantable.columns=['a']
trantable.head()

/Users/dayangraham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

                                                   a
0  -xd1aAlPXqs after you 've done at least six to...
1  KtMjOT6fDrw on behalf of expert village , my n...
2  ehbFyYlcEhc hi ! this is david jackel on behal...
3  lcw8f2od6z8 the other way we can do cucumbers ...
4  G-VRHmkiqtc my name is anthony maddaloni and i...

In [110]:
desctable['id'] = desctable.apply(lambda row: str(row.a).split(" ")[0], axis = 1) 
desctable['desc'] = desctable.apply(lambda row: ' '.join(str(row.a).split(" ")[1:]), axis = 1) 
desctable.drop('a',1,inplace=True)
desctable.head()

            id                                               desc
0  -xd1aAlPXqs  learn the sivananda yoga single right leg rais...
1  KtMjOT6fDrw  learn how to apply hanger hooks for your woodc...
2  ehbFyYlcEhc  learn about how hand washing can help prevent ...
3  lcw8f2od6z8  how to julienne cucumbers to make kimchi for k...
4  G-VRHmkiqtc  in order to put photographic emulsion on water...

In [112]:
trantable['id'] = trantable.apply(lambda row: row.a.split(" ")[0], axis = 1) 
trantable['tran'] = trantable.apply(lambda row: ' '.join(row.a.split(" ")[1:]), axis = 1) 
trantable.drop('a',1,inplace=True)
trantable.head()

            id                                               tran
0  -xd1aAlPXqs  after you 've done at least six to twelve roun...
1  KtMjOT6fDrw  on behalf of expert village , my name is husai...
2  ehbFyYlcEhc  hi ! this is david jackel on behalf of expert ...
3  lcw8f2od6z8  the other way we can do cucumbers which is als...
4  G-VRHmkiqtc  my name is anthony maddaloni and i 'm going to...

In [113]:
conctable = pd.merge(desctable,trantable,on="id")

In [114]:
conctable.head()

,id,desc,tran
0,-xd1aAlPXqs,learn the sivananda yoga single right leg rais...,after you 've done at least six to twelve roun...
1,KtMjOT6fDrw,learn how to apply hanger hooks for your woodc...,"on behalf of expert village , my name is husai..."
2,ehbFyYlcEhc,learn about how hand washing can help prevent ...,hi ! this is david jackel on behalf of expert ...
3,lcw8f2od6z8,how to julienne cucumbers to make kimchi for k...,the other way we can do cucumbers which is als...
4,G-VRHmkiqtc,in order to put photographic emulsion on water...,my name is anthony maddaloni and i 'm going to...

In [115]:
!pip -q install wget youtube-dl wget

In [121]:
youtube_ids = conctable['id'].tolist()

In [123]:
shortlist = youtube_ids[:100]

In [124]:
for YOUTUBE_ID in shortlist:
    !youtube-dl --extract-audio --audio-format wav --quiet --output "{YOUTUBE_ID}_FULL.%(ext)s" https://www.youtube.com/watch\?v\={YOUTUBE_ID}
    !ffmpeg -loglevel panic -y -i {YOUTUBE_ID}_FULL.wav -acodec pcm_s16le -ac 1 -ar 8000 {YOUTUBE_ID}.wav
    !rm {YOUTUBE_ID}_FULL.wav

rm: illegal option -- x
usage: rm [-f | -i] [-dPRrvW] file ...
       unlink file
rm: illegal option -- B
usage: rm [-f | -i] [-dPRrvW] file ...
       unlink file